@charset "utf-8";
$dark-blue: #001f3f;
$royal-blue: #4169e1;
$prussian-blue: #083358;
$highlight-yellow: #ffa500;
$black: #000000;
$white: #ffffff;

// General colors
$scheme-main: $dark-blue;

$navbar-background-color: $royal-blue;

//Signup form
.main-wrapper button {
  background-color: $highlight-yellow;
  border: none;
}

.main-wrapper h2 {
  color: $highlight-yellow;
}

.form-wrapper input {
  outline: none;
}

/* Admin Page */

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
