* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: "Montserrat", sans-serif;
  /* background-color: var(--primary-font-color); */
  min-height: 100vh;
}

#page-container {
  max-width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* Nav */
header {
  background-color: var(--primary-bg-color);
}

.navbar {
  height: 8vh;
}

.navbar-end > a {
  margin-right: 30px;
}

/* .navbar {
  height: 10vh;
} */

header li {
  display: inline-block;
  padding: 16px 32px;
}

header a {
  color: var(--sec-font-color);
  text-decoration: none;
}

/* Hero */
#hero-section {
  background-color: var(--primary-bg-color);
}

#hero-section > div {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Genres */
.genre-items {
  /* background-color: black; */
  height: 15vh;
  place-items: stretch stretch;
  justify-content: space-between;
}

.genre-item {
  background-color: turquoise;
  border-radius: 5px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.genre-item:hover {
  border: 3px solid var(--sec-font-color);
}

.genre-item p {
  font-size: 1.2rem;
}

/* Movie Rows */
#movie-list-section,
#movie-genres {
  background-color: var(--sec-bg-color);
  color: var(--sec-font-color);
  margin-top: 10px;
}

.row-container {
  padding: 16px 32px;
}

.row-container > h2 {
  margin-bottom: 20px;
}

/* Movie Cards */
.movie-card {
  background-color: var(--section-bg-color);
  color: var(--primary-font-color);
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  transition: transform 450ms;
  /* width: 80%; */
}

.movie-card:hover {
  transform: scale(1.08);
}

.card-content {
  padding: 12px;
}

.card-content > h3,
.card-content > div {
  display: inline-block;
}

.card-content > div {
  position: absolute;
  right: 10px;
}

.card-content > p {
  font-size: 0.8rem;
  margin: 10px 0;
}

.card-content > div:nth-last-of-type(1) > p {
  padding: 5px;
  text-align: center;
}

.card-content > div {
  background-color: var(--highlight-yellow);
  width: 55px;
  color: var(--primary-bg-color);
  font-size: 0.8rem;
  border-radius: 50px;
}

.card-content > h3 {
  width: 75%;
  font-size: 1.2rem;
}

#movie-list-section > div > h2 {
  margin-top: 16px;
}

#movie-list-section > h2 {
  padding: 16px 32px;
  background-color: #ffa500;
  color: var(--primary-font-color);
}

/* Log In */
/* .hero {
  background-image: url("../assets/img/background/login-bg.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
} */

.form > h2 {
  /* background-color: var(--highlight-yellow); */
  padding: 5px 16px;
  font-size: 1.5rem;
  color: var(--highlight-yellow);
  text-align: center;
  margin-bottom: 2rem;
}

/* .login-wrapper {
  color: var(--sec-font-color);
  height: 50vh;
  justify-content: center;
  align-items: center;
} */

/* .login-wrapper p {
  margin: 10px 10px;
  color: var(--primary-font-color);
} */

/* .form > button {
  margin-top: 20px;
  padding: 10px;
} */

/* .form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  pointer-events: none;
} */

/* .form-input > input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--section-bg-color);
  outline: none;
  background-color: transparent;
  color: inherit;
} */

/* Admin Page */
/* .manage-entities {
  display: inline-block;
  height: 150px;
  width: 300px;
}

.box:not(:last-child) {
  margin-bottom: 0;
}

.admin-main-container {
  height: 100%;
} */

/* Movie Form */
.movie-form-container {
  width: 70%;
  margin: 0 auto;
}

/* .form-input > label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
} */
/* Footer */
