* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-bg-color);
}

#page-container {
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

/* Nav */
header {
  background-color: var(--primary-bg-color);
}

header li {
  display: inline-block;
  padding: 16px 32px;
}

header a {
  color: var(--sec-font-color);
  text-decoration: none;
}

/* Hero */
#hero-section > div {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Genres */
.genre-items {
  /* background-color: black; */
  height: 15vh;
  place-items: stretch stretch;
  justify-content: space-between;
}

.genre-item {
  background-color: turquoise;
  border-radius: 5px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.genre-item p {
  font-size: 1.2rem;
}

/* Movie Rows */
#movie-list-section,
#movie-genres {
  background-color: var(--sec-bg-color);
  color: var(--sec-font-color);
  margin-top: 10px;
}
.row-container {
  padding: 16px 32px;
}

.row-container > h2 {
  margin-bottom: 20px;
}

/* Movie Cards */
.movie-card {
  background-color: var(--section-bg-color);
  color: var(--primary-font-color);
  position: relative;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  transition: transform 450ms;
  /* width: 80%; */
}

.movie-card:hover {
  transform: scale(1.08);
}

.card-content {
  padding: 12px;
}

.card-content > p {
  font-size: 0.8rem;
  margin: 10px 0;
}

.card-content > div > p {
  padding: 5px;
  text-align: center;
}

.card-content > div {
  width: 35%;
  background-color: var(--highlight-text);
  color: var(--sec-font-color);
  font-size: 0.8rem;
  border-radius: 50px;
}

.card-content > h3 {
  font-size: 0.9rem;
}

#movie-list-section > div > h2 {
  margin-top: 16px;
}

/* Footer */
