:root {
  --primary-bg-color: #001f3f;
  --sec-bg-color: #083358;
  --section-bg-color: #ffffff;

  --primary-font-color: #000000;
  --sec-font-color: #ffffff;

  --button-color: #29ec83;
  --highlight-blue: #0d63a5;
  --highlight-yellow: #ffa500;
}

/* Grid Layouts */
.grid {
  display: grid;
}

.hide {
  display: none;
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid-column-gap {
  column-gap: 20px;
}

.grid-row-gap {
  gap: 40px;
}

/* Link Styles */
a {
  text-decoration: none;
}
